.container{

    height: 80%;
    width: 90%;
    /* border:  solid red; */
}
#dnld{
    border: none;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    height: 50px;
    padding: 5px;
}
p{
    text-align: justify;
}
d1{
    margin-top: 30px;
}



/* skills */

.progress-bar {
    margin-left: 70px;
    padding-left: 40px;
}

.bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    margin-bottom: 5px;
    position: relative;
    width: 85%;
}

.base-bar {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
}

.html-bar {
    background-color: tomato;
    width: 95%;
}

.css-bar {
    background-color: tomato;
    width: 95%;
}

.js-bar {
    background-color: tomato;
    width: 80%;
}

.rt-bar {
    background-color: tomato;
    width: 70%;
}

/* .java-bar {
    background-color: orange;
    width: 80%;
} */
.py-bar{
    background-color: tomato;
    width: 80%;
}
#c1{
    box-shadow: 2px 2px;
}
#c1:hover{
        transform: scale(1.05);
}

Button:hover{
    opacity: 60%;
   /* background-color:white; */
    /* color:black; */
}
l1:hover{
    opacity: 60%;
    color: white;
}
i{
    color:black;
}
i:hover{
    color: tomato;
    transform: scale(1.05);

}
#p1{
    text-align: left;
}



#bk{
        height: 300px;
        width:300px;
        /* color:black; */
        /* background-color: black; */
        box-shadow:  3px 3px grey;
}